In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from itertools import chain
from sklearn.model_selection import train_test_split
from scipy.stats import zscore
from sklearn import metrics

from scipy.stats import chisquare,chi2_contingency
from sklearn.preprocessing import Normalizer
from keras.callbacks import ModelCheckpoint
from sklearn.metrics import confusion_matrix

Using TensorFlow backend.

## 1.Read the dataset

In [3]:
bank_df = pd.read_csv('bank.csv')

In [4]:
bank_df.shape

(10000, 14)

In [5]:
bank_df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
bank_df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
# There is no empty values in the dataset

In [9]:
bank_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

## 2.Drop the columns which are unique for all users like IDs (2.5 points)

In [10]:
# Dropping RowNumber, CustomerId, Surname columns as these are unique values
bank_df.drop(columns = ["RowNumber","CustomerId","Surname"], axis =1, inplace =True)

In [11]:
bank_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## 3.Distinguish the feature and target set (2.5 points)

In [12]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [13]:
labelencoder= LabelEncoder()

In [14]:
bank_df['Gender']=labelencoder.fit_transform(bank_df['Gender'])

In [15]:
bank_df["Geography"].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [16]:
Geography =  pd.get_dummies(bank_df["Geography"])

In [17]:
bank_df = pd.concat([bank_df, Geography],axis=1)

In [18]:
bank_df.drop(columns = ["Geography"], inplace =True, axis = 1)

In [19]:
bank_df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [20]:
X = bank_df.drop(columns = ["Exited"])
y = bank_df["Exited"]

## 4. Divide the data set into Train and test sets

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 15,stratify=y)

## 5.Normalize the train and test data (2.5 points)

In [22]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [23]:
X_train.shape

(7000, 12)

## 6. Initialize & build the model (10 points)

In [24]:
from keras.models import Sequential
from keras.layers import Dense

In [25]:
classifier_model = Sequential()

In [26]:
# Adding the input layer and the first hidden layer
classifier_model.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 12))
# Adding the second hidden layer
classifier_model.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
# Adding the output layer
classifier_model.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

WARNING:tensorflow:From C:\Users\varuraje.ORADEV\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

C:\Users\varuraje.ORADEV\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=12, units=6, kernel_initializer="uniform")`

C:\Users\varuraje.ORADEV\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\Users\varuraje.ORADEV\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

In [27]:
classifier_model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

## 7.Optimize the model (5 points)

In [28]:
classifier_model.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

WARNING:tensorflow:From C:\Users\varuraje.ORADEV\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

C:\Users\varuraje.ORADEV\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
7000/7000 [==============================] - 2s 242us/step - loss: 0.4874 - acc: 0.7957
Epoch 2/100
7000/7000 [==============================] - 1s 161us/step - loss: 0.4273 - acc: 0.7963
Epoch 3/100
7000/7000 [==============================] - 1s 164us/step - loss: 0.4214 - acc: 0.7963
Epoch 4/100
7000/7000 [==============================] - 1s 168us/step - loss: 0.4173 - acc: 0.8117
Epoch 5/100
7000/7000 [==============================] - 1s 172us/step - loss: 0.4143 - acc: 0.8269
Epoch 6/100
7000/7000 [==============================] - 1s 175us/step - loss: 0.4118 - acc: 0.8286
Epoch 7/100
7000/7000 [==============================] - 1s 171us/step - loss: 0.4102 - acc: 0.8331
Epoch 8/100
7000/7000 [==============================] - 1s 200us/step - loss: 0.4088 - acc: 0.8309
Epoch 9/100
7000/7000 [==============================] - 1s 169us/step - loss: 0.4073 - acc: 0.8320
Epoch 10/100
7000/7000 [==============================] - 1s 182us/step - loss: 0.4056 - acc: 0.8333
Epoch 11/100
7000/7000 [==============================] - 1s 211us/step - loss: 0.4052 - acc: 0.8351
Epoch 12/100
7000/7000 [==============================] - 1s 197us/step - loss: 0.4043 - acc: 0.8347
Epoch 13/100
7000/7000 [==============================] - 1s 167us/step - loss: 0.4039 - acc: 0.8339 1s - loss:
Epoch 14/100
7000/7000 [==============================] - 1s 162us/step - loss: 0.4035 - acc: 0.8329
Epoch 15/100
7000/7000 [==============================] - ETA: 0s - loss: 0.4043 - acc: 0.835 - 1s 154us/step - loss: 0.4026 - acc: 0.8360
Epoch 16/100
7000/7000 [==============================] - 1s 150us/step - loss: 0.4027 - acc: 0.8369
Epoch 17/100
7000/7000 [==============================] - 1s 168us/step - loss: 0.4023 - acc: 0.8346
Epoch 18/100
7000/7000 [==============================] - 1s 160us/step - loss: 0.4011 - acc: 0.8351
Epoch 19/100
7000/7000 [==============================] - 1s 164us/step - loss: 0.4009 - acc: 0.8336
Epoch 20/100
7000/7000 [==============================] - 1s 188us/step - loss: 0.4001 - acc: 0.8367
Epoch 21/100
7000/7000 [==============================] - 1s 182us/step - loss: 0.4005 - acc: 0.8359
Epoch 22/100
7000/7000 [==============================] - 1s 168us/step - loss: 0.3998 - acc: 0.8360
Epoch 23/100
7000/7000 [==============================] - 1s 193us/step - loss: 0.3998 - acc: 0.8340
Epoch 24/100
7000/7000 [==============================] - 1s 202us/step - loss: 0.3992 - acc: 0.8361
Epoch 25/100
7000/7000 [==============================] - 1s 182us/step - loss: 0.3993 - acc: 0.8367
Epoch 26/100
7000/7000 [==============================] - 1s 179us/step - loss: 0.3987 - acc: 0.8351
Epoch 27/100
7000/7000 [==============================] - 1s 167us/step - loss: 0.3981 - acc: 0.8369
Epoch 28/100
7000/7000 [==============================] - 1s 167us/step - loss: 0.3987 - acc: 0.8356
Epoch 29/100
7000/7000 [==============================] - 1s 165us/step - loss: 0.3984 - acc: 0.8357
Epoch 30/100
7000/7000 [==============================] - 1s 169us/step - loss: 0.3979 - acc: 0.8351
Epoch 31/100
7000/7000 [==============================] - 1s 159us/step - loss: 0.3977 - acc: 0.8354
Epoch 32/100
7000/7000 [==============================] - 1s 160us/step - loss: 0.3984 - acc: 0.8347
Epoch 33/100
7000/7000 [==============================] - 1s 168us/step - loss: 0.3976 - acc: 0.8363
Epoch 34/100
7000/7000 [==============================] - 1s 193us/step - loss: 0.3974 - acc: 0.8360
Epoch 35/100
7000/7000 [==============================] - 1s 179us/step - loss: 0.3971 - acc: 0.8357
Epoch 36/100
7000/7000 [==============================] - 1s 175us/step - loss: 0.3969 - acc: 0.8353
Epoch 37/100
7000/7000 [==============================] - 1s 182us/step - loss: 0.3971 - acc: 0.8366
Epoch 38/100
7000/7000 [==============================] - 1s 175us/step - loss: 0.3967 - acc: 0.8374
Epoch 39/100
7000/7000 [==============================] - 1s 176us/step - loss: 0.3960 - acc: 0.8351
Epoch 40/100
7000/7000 [==============================] - 1s 187us/step - loss: 0.3969 - acc: 0.8370
Epoch 41/100
7000/7000 [==============================] - 1s 178us/step - loss: 0.3964 - acc: 0.8357
Epoch 42/100
7000/7000 [==============================] - 1s 181us/step - loss: 0.3965 - acc: 0.8367
Epoch 43/100
7000/7000 [==============================] - 1s 192us/step - loss: 0.3966 - acc: 0.8381 1s - loss: 0.
Epoch 44/100
7000/7000 [==============================] - 1s 173us/step - loss: 0.3965 - acc: 0.8361
Epoch 45/100
7000/7000 [==============================] - 1s 169us/step - loss: 0.3963 - acc: 0.8377
Epoch 46/100
7000/7000 [==============================] - 1s 200us/step - loss: 0.3964 - acc: 0.8359
Epoch 47/100
7000/7000 [==============================] - 1s 208us/step - loss: 0.3963 - acc: 0.8357
Epoch 48/100
7000/7000 [==============================] - 1s 190us/step - loss: 0.3962 - acc: 0.8346
Epoch 49/100
7000/7000 [==============================] - 1s 168us/step - loss: 0.3954 - acc: 0.8350
Epoch 50/100
7000/7000 [==============================] - 1s 168us/step - loss: 0.3959 - acc: 0.8351
Epoch 51/100
7000/7000 [==============================] - 1s 170us/step - loss: 0.3959 - acc: 0.8371
Epoch 52/100
7000/7000 [==============================] - 1s 170us/step - loss: 0.3955 - acc: 0.8374
Epoch 53/100
7000/7000 [==============================] - 1s 173us/step - loss: 0.3947 - acc: 0.8360
Epoch 54/100
7000/7000 [==============================] - 1s 184us/step - loss: 0.3953 - acc: 0.8359
Epoch 55/100
7000/7000 [==============================] - 1s 175us/step - loss: 0.3953 - acc: 0.8343
Epoch 56/100
7000/7000 [==============================] - 1s 190us/step - loss: 0.3948 - acc: 0.8366
Epoch 57/100
7000/7000 [==============================] - 1s 197us/step - loss: 0.3956 - acc: 0.8374
Epoch 58/100
7000/7000 [==============================] - 1s 174us/step - loss: 0.3953 - acc: 0.8371
Epoch 59/100
7000/7000 [==============================] - 1s 169us/step - loss: 0.3949 - acc: 0.8360
Epoch 60/100
7000/7000 [==============================] - 1s 185us/step - loss: 0.3949 - acc: 0.8364
Epoch 61/100
7000/7000 [==============================] - 1s 174us/step - loss: 0.3951 - acc: 0.8389
Epoch 62/100
7000/7000 [==============================] - 1s 168us/step - loss: 0.3948 - acc: 0.8354
Epoch 63/100
7000/7000 [==============================] - 1s 175us/step - loss: 0.3946 - acc: 0.8364
Epoch 64/100
7000/7000 [==============================] - 1s 169us/step - loss: 0.3950 - acc: 0.8363 1s - loss:
Epoch 65/100
7000/7000 [==============================] - 1s 151us/step - loss: 0.3947 - acc: 0.8354
Epoch 66/100
7000/7000 [==============================] - 1s 166us/step - loss: 0.3946 - acc: 0.8363
Epoch 67/100
7000/7000 [==============================] - 1s 176us/step - loss: 0.3946 - acc: 0.8353
Epoch 68/100
7000/7000 [==============================] - 1s 160us/step - loss: 0.3945 - acc: 0.8359 0s - loss: 0.3958 - acc: 0.
Epoch 69/100
7000/7000 [==============================] - ETA: 0s - loss: 0.3954 - acc: 0.834 - 1s 175us/step - loss: 0.3944 - acc: 0.8354
Epoch 70/100
7000/7000 [==============================] - 1s 196us/step - loss: 0.3941 - acc: 0.8351
Epoch 71/100
7000/7000 [==============================] - 2s 224us/step - loss: 0.3933 - acc: 0.8366
Epoch 72/100
7000/7000 [==============================] - 1s 173us/step - loss: 0.3935 - acc: 0.8354
Epoch 73/100
7000/7000 [==============================] - 1s 188us/step - loss: 0.3927 - acc: 0.8386
Epoch 74/100
7000/7000 [==============================] - 1s 156us/step - loss: 0.3935 - acc: 0.8373
Epoch 75/100
7000/7000 [==============================] - 1s 155us/step - loss: 0.3925 - acc: 0.8386
Epoch 76/100
7000/7000 [==============================] - 1s 144us/step - loss: 0.3927 - acc: 0.8373
Epoch 77/100
7000/7000 [==============================] - 1s 164us/step - loss: 0.3929 - acc: 0.8364
Epoch 78/100
7000/7000 [==============================] - 1s 162us/step - loss: 0.3924 - acc: 0.8359
Epoch 79/100
7000/7000 [==============================] - 1s 153us/step - loss: 0.3915 - acc: 0.8377
Epoch 80/100

7000/7000 [==============================] - 1s 164us/step - loss: 0.3920 - acc: 0.8359
Epoch 81/100
7000/7000 [==============================] - 1s 180us/step - loss: 0.3918 - acc: 0.8371
Epoch 82/100
7000/7000 [==============================] - 1s 194us/step - loss: 0.3920 - acc: 0.8390 1s - l
Epoch 83/100
7000/7000 [==============================] - 1s 180us/step - loss: 0.3921 - acc: 0.8380
Epoch 84/100
7000/7000 [==============================] - 1s 178us/step - loss: 0.3917 - acc: 0.8379
Epoch 85/100
7000/7000 [==============================] - 1s 184us/step - loss: 0.3918 - acc: 0.8370
Epoch 86/100
7000/7000 [==============================] - 1s 173us/step - loss: 0.3913 - acc: 0.8396
Epoch 87/100
7000/7000 [==============================] - 1s 163us/step - loss: 0.3916 - acc: 0.8376
Epoch 88/100
7000/7000 [==============================] - 1s 161us/step - loss: 0.3917 - acc: 0.8391
Epoch 89/100
7000/7000 [==============================] - 1s 183us/step - loss: 0.3911 - acc: 0.8390
Epoch 90/100
7000/7000 [==============================] - 1s 184us/step - loss: 0.3915 - acc: 0.8393
Epoch 91/100
7000/7000 [==============================] - 1s 182us/step - loss: 0.3916 - acc: 0.8383
Epoch 92/100
7000/7000 [==============================] - 1s 188us/step - loss: 0.3911 - acc: 0.8394
Epoch 93/100
7000/7000 [==============================] - 1s 188us/step - loss: 0.3912 - acc: 0.8367
Epoch 94/100
7000/7000 [==============================] - 1s 198us/step - loss: 0.3906 - acc: 0.8394
Epoch 95/100
7000/7000 [==============================] - 1s 207us/step - loss: 0.3910 - acc: 0.8383
Epoch 96/100
7000/7000 [==============================] - 1s 181us/step - loss: 0.3905 - acc: 0.8380
Epoch 97/100
7000/7000 [==============================] - 1s 185us/step - loss: 0.3906 - acc: 0.8399
Epoch 98/100
7000/7000 [==============================] - 1s 175us/step - loss: 0.3907 - acc: 0.8407
Epoch 99/100
7000/7000 [==============================] - 1s 178us/step - loss: 0.3911 - acc: 0.8384
Epoch 100/100
7000/7000 [==============================] - 1s 164us/step - loss: 0.3905 - acc: 0.8379

## 8.Predict the results using 0.5 as a threshold (5 points)

In [29]:
y_predict = classifier_model.predict(X_test)
y_predict = (y_predict > 0.5)

In [30]:
print(y_predict)

[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

## 9. Print the Accuracy score and confusion matrix (2.5 points)

In [31]:
cm = confusion_matrix(y_test, y_predict)

In [32]:
print(cm)

[[2304   85]
 [ 420  191]]

In [33]:
metrics.accuracy_score(y_test,y_predict)

0.8316666666666667

In [34]:
cr=metrics.classification_report(y_test,y_predict)
print(cr)

             precision    recall  f1-score   support

          0       0.85      0.96      0.90      2389
          1       0.69      0.31      0.43       611

avg / total       0.81      0.83      0.81      3000