## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings('ignore')

In [1]:
import tensorflow as tf

In [3]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default
tf.enable_eager_execution()

### Collect Data

In [4]:
#from google.colab import drive
#drive.mount('/gdrive')

In [3]:
import pandas as pd
import numpy as np

In [6]:
p_data = pd.read_csv('Prices.csv')

### Check all columns in the dataset

In [7]:
p_data.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

In [8]:
p_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 851264 entries, 0 to 851263
Data columns (total 7 columns):
date      851264 non-null object
symbol    851264 non-null object
open      851264 non-null float64
close     851264 non-null float64
low       851264 non-null float64
high      851264 non-null float64
volume    851264 non-null float64
dtypes: float64(5), object(2)
memory usage: 45.5+ MB

In [9]:
p_data.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

### Drop columns `date` and  `symbol`

In [10]:
p_data = p_data.drop(labels='date', axis=1)
p_data = p_data.drop(labels='symbol', axis=1)

In [11]:
p_data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

In [12]:
p_data.shape

(851264, 5)

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [13]:
p_d_1000 = p_data.head(1000)

In [14]:
p_d_1000.shape

(1000, 5)

In [15]:
p_d_1000['volume'] = p_d_1000.volume / 1000000

In [16]:
p_d_1000.head()

         open       close         low        high  volume
0  123.430000  125.839996  122.309998  126.250000  2.1636
1  125.239998  119.980003  119.940002  125.540001  2.3864
2  116.379997  114.949997  114.930000  119.739998  2.4895
3  115.480003  116.620003  113.500000  117.440002  2.0063
4  117.010002  114.970001  114.089996  117.330002  1.4086

In [17]:
type(p_d_1000)

pandas.core.frame.DataFrame

### Divide the data into train and test sets

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X = p_d_1000.drop(labels='volume', axis=1)
Y = p_d_1000['volume']
X.shape
Y.shape

(1000, 4)

(1000,)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=1)
print("X_train ", X_train.shape)
print("X_test ", X_test.shape)
print("Y_train ", y_train.shape)
print("Y_test ", y_test.shape)

X_train  (700, 4)
X_test  (300, 4)
Y_train  (700,)
Y_test  (300,)

In [21]:
type(X)
type(Y)

pandas.core.frame.DataFrame

pandas.core.series.Series

#### Convert Training and Test Data to numpy float32 arrays

In [53]:
train_x = np.float32(X_train)
print(train_x.dtype)
train_y = np.float32(y_train)
print(train_y.dtype)
test_x = np.float32(X_test)
print(test_x.dtype)
test_y = np.float32(y_test)
print(test_y.dtype)

float32
float32
float32
float32

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [56]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
train_x_fit = sc.fit(train_x)
train_x = train_x_fit.transform(train_x)
test_x_fit = sc.fit(test_x)
test_x_std = test_x_fit.transform(test_x)

test_x_std.shape
test_y.shape

(300, 4)

(300,)

In [58]:
train_x = np.float32(train_x)
print(train_x.dtype)
train_y = np.float32(train_y)
print(train_y.dtype)
test_x = np.float32(test_x)
print(test_x.dtype)
test_y = np.float32(test_y)
print(test_y.dtype)

float32
float32
float32
float32

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [60]:
#Declare Weights and Bias

w = tf.zeros(shape=(4,1))
b = tf.zeros(shape=(1))

2.Define a function to calculate prediction

In [61]:
# y = wx + b

def prediction(x, w, b):
    xw_matmul = tf.matmul(x, w)
    y = tf.add(xw_matmul, b)
    
    return y

3.Loss (Cost) Function [Mean square error]

In [62]:
#Define Loss

def loss(y_actual, y_predicted):
    
    diff = y_actual - y_predicted
    sqr = tf.square(diff)
    avg = tf.reduce_mean(sqr)
    
    return avg

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [63]:
#Define Gradient Descent function

def train(x, y_actual, w, b, learning_rate=0.01):
    
    #Record math ops on 'tape' to calculate loss
    with tf.GradientTape() as t:
        
        t.watch([w,b])
        
        current_prediction = prediction(x, w, b)
        current_loss = loss(y_actual, current_prediction)
    
    #Calculate Gradients for Loss w.r.t Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    #Update Weights and Bias
    w = w - learning_rate*dw
    b = b - learning_rate*db
    
    return w, b

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Test loss at every 5th iteration

In [64]:
train_x.dtype
type(train_y)
type(w)
type(b)

dtype('float32')

numpy.ndarray

tensorflow.python.framework.ops.EagerTensor

tensorflow.python.framework.ops.EagerTensor

In [65]:
#Training the model for 100 iterations

for i in range(100):
    
    w, b = train(train_x, train_y, w, b)
    if i % 5 == 0:
        print('Current Loss on iteration', i, loss(train_y, prediction(train_x, w, b)).numpy())

Current Loss on iteration 0 224.67271
Current Loss on iteration 5 219.31863
Current Loss on iteration 10 214.94376
Current Loss on iteration 15 211.36942
Current Loss on iteration 20 208.44868
Current Loss on iteration 25 206.06247
Current Loss on iteration 30 204.1128
Current Loss on iteration 35 202.51955
Current Loss on iteration 40 201.2179
Current Loss on iteration 45 200.15422
Current Loss on iteration 50 199.28517
Current Loss on iteration 55 198.57532
Current Loss on iteration 60 197.9949
Current Loss on iteration 65 197.52095
Current Loss on iteration 70 197.13365
Current Loss on iteration 75 196.81714
Current Loss on iteration 80 196.5585
Current Loss on iteration 85 196.34721
Current Loss on iteration 90 196.17462
Current Loss on iteration 95 196.03357

### Get the shapes and values of W and b

In [66]:
w.shape
w

TensorShape([Dimension(4), Dimension(1)])

<tf.Tensor: id=4505, shape=(4, 1), dtype=float32, numpy=
array([[-2.0675364e-09],
       [-3.9488079e-09],
       [-3.8743018e-09],
       [-2.9802314e-09]], dtype=float32)>

In [67]:
b.shape
b

TensorShape([Dimension(1)])

### Model Prediction on 1st Examples in Test Dataset

In [68]:
w
b

<tf.Tensor: id=4505, shape=(4, 1), dtype=float32, numpy=
array([[-2.0675364e-09],
       [-3.9488079e-09],
       [-3.8743018e-09],
       [-2.9802314e-09]], dtype=float32)>

In [69]:
current_prediction = prediction(test_x, w, b)

current_prediction[0]

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load tensorflow if not done already

### Load the given Iris data using pandas (Iris.csv)

In [4]:
iris_df = pd.read_csv('Iris.csv')

In [5]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB

In [6]:
iris_df.shape
iris_df.head()

(150, 6)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

### Splitting the data into feature set and target set

In [7]:
X = iris_df.iloc[:,1:5].values
y = iris_df.iloc[:,5].values

from sklearn.preprocessing import LabelEncoder
encoder =  LabelEncoder()
y1 = encoder.fit_transform(y)

Y = pd.get_dummies(y1).values

### Divide the dataset into Training and test (70:30)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=1)
print("X_train ", X_train.shape)
print("X_test ", X_test.shape)
print("Y_train ", Y_train.shape)
print("Y_test ", Y_test.shape)

X_train  (105, 4)
X_test  (45, 4)
Y_train  (105, 3)
Y_test  (45, 3)

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [9]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [10]:
# Create model
model = Sequential()

model.add(Dense(10,input_shape=(4,),activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(6,activation='relu'))
model.add(Dense(3,activation='softmax'))

#model.compile(Adam(lr=0.04),'categorical_crossentropy',metrics=['accuracy'])
model.compile(loss='categorical_crossentropy', optimizer='sgd', metrics=['accuracy'])

model.summary()

WARNING:tensorflow:From C:\Users\varuraje.ORADEV\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                50
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 88
_________________________________________________________________
dense_3 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_4 (Dense)              (None, 3)                 21
=================================================================
Total params: 213
Trainable params: 213
Non-trainable params: 0
_________________________________________________________________

### Model Training

In [11]:
#fitting the model and predicting 
model.fit(X_train,Y_train,epochs=100)

WARNING:tensorflow:From C:\Users\varuraje.ORADEV\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
105/105 [==============================] - 0s 2ms/step - loss: 1.1513 - acc: 0.3429
Epoch 2/100
105/105 [==============================] - 0s 76us/step - loss: 1.1340 - acc: 0.3429
Epoch 3/100
105/105 [==============================] - 0s 66us/step - loss: 1.1261 - acc: 0.3429
Epoch 4/100
105/105 [==============================] - 0s 95us/step - loss: 1.1188 - acc: 0.3429
Epoch 5/100
105/105 [==============================] - 0s 66us/step - loss: 1.1145 - acc: 0.3429
Epoch 6/100
105/105 [==============================] - 0s 85us/step - loss: 1.1108 - acc: 0.3333
Epoch 7/100
105/105 [==============================] - 0s 66us/step - loss: 1.1079 - acc: 0.3333
Epoch 8/100
105/105 [==============================] - 0s 104us/step - loss: 1.1054 - acc: 0.3238
Epoch 9/100
105/105 [==============================] - 0s 76us/step - loss: 1.1035 - acc: 0.3238
Epoch 10/100
105/105 [==============================] - 0s 76us/step - loss: 1.1025 - acc: 0.3333
Epoch 11/100
105/105 [==============================] - 0s 95us/step - loss: 1.1006 - acc: 0.3238
Epoch 12/100
105/105 [==============================] - 0s 66us/step - loss: 1.0993 - acc: 0.3238
Epoch 13/100
105/105 [==============================] - 0s 66us/step - loss: 1.0984 - acc: 0.3429
Epoch 14/100
105/105 [==============================] - 0s 95us/step - loss: 1.0969 - acc: 0.3429
Epoch 15/100
105/105 [==============================] - 0s 66us/step - loss: 1.0960 - acc: 0.3429
Epoch 16/100
105/105 [==============================] - 0s 66us/step - loss: 1.0955 - acc: 0.3429
Epoch 17/100
105/105 [==============================] - 0s 57us/step - loss: 1.0946 - acc: 0.3429
Epoch 18/100
105/105 [==============================] - 0s 57us/step - loss: 1.0932 - acc: 0.3429
Epoch 19/100
105/105 [==============================] - 0s 66us/step - loss: 1.0922 - acc: 0.3429
Epoch 20/100
105/105 [==============================] - 0s 57us/step - loss: 1.0914 - acc: 0.3429
Epoch 21/100
105/105 [==============================] - 0s 66us/step - loss: 1.0900 - acc: 0.3429
Epoch 22/100
105/105 [==============================] - 0s 66us/step - loss: 1.0892 - acc: 0.3429
Epoch 23/100
105/105 [==============================] - 0s 57us/step - loss: 1.0882 - acc: 0.3429
Epoch 24/100
105/105 [==============================] - 0s 66us/step - loss: 1.0878 - acc: 0.3429
Epoch 25/100
105/105 [==============================] - 0s 66us/step - loss: 1.0865 - acc: 0.3429
Epoch 26/100
105/105 [==============================] - 0s 66us/step - loss: 1.0854 - acc: 0.3619
Epoch 27/100
105/105 [==============================] - 0s 66us/step - loss: 1.0844 - acc: 0.3714
Epoch 28/100
105/105 [==============================] - 0s 67us/step - loss: 1.0837 - acc: 0.3905
Epoch 29/100
105/105 [==============================] - 0s 66us/step - loss: 1.0828 - acc: 0.3810
Epoch 30/100
105/105 [==============================] - 0s 104us/step - loss: 1.0819 - acc: 0.4286
Epoch 31/100
105/105 [==============================] - 0s 76us/step - loss: 1.0809 - acc: 0.4381
Epoch 32/100
105/105 [==============================] - 0s 76us/step - loss: 1.0802 - acc: 0.4857
Epoch 33/100
105/105 [==============================] - 0s 66us/step - loss: 1.0792 - acc: 0.4857
Epoch 34/100
105/105 [==============================] - 0s 76us/step - loss: 1.0782 - acc: 0.5238
Epoch 35/100
105/105 [==============================] - 0s 57us/step - loss: 1.0773 - acc: 0.5714
Epoch 36/100
105/105 [==============================] - 0s 76us/step - loss: 1.0767 - acc: 0.5333
Epoch 37/100
105/105 [==============================] - 0s 66us/step - loss: 1.0755 - acc: 0.5524
Epoch 38/100
105/105 [==============================] - 0s 76us/step - loss: 1.0747 - acc: 0.6476
Epoch 39/100
105/105 [==============================] - 0s 104us/step - loss: 1.0734 - acc: 0.6476
Epoch 40/100
105/105 [==============================] - 0s 85us/step - loss: 1.0725 - acc: 0.6286
Epoch 41/100
105/105 [==============================] - 0s 114us/step - loss: 1.0712 - acc: 0.6571
Epoch 42/100
105/105 [==============================] - 0s 76us/step - loss: 1.0701 - acc: 0.6857
Epoch 43/100
105/105 [==============================] - 0s 66us/step - loss: 1.0690 - acc: 0.6857
Epoch 44/100
105/105 [==============================] - 0s 114us/step - loss: 1.0681 - acc: 0.6857
Epoch 45/100
105/105 [==============================] - 0s 66us/step - loss: 1.0668 - acc: 0.6857
Epoch 46/100
105/105 [==============================] - 0s 76us/step - loss: 1.0655 - acc: 0.6857
Epoch 47/100
105/105 [==============================] - 0s 67us/step - loss: 1.0648 - acc: 0.6476
Epoch 48/100
105/105 [==============================] - 0s 67us/step - loss: 1.0630 - acc: 0.6857
Epoch 49/100
105/105 [==============================] - 0s 105us/step - loss: 1.0615 - acc: 0.6857
Epoch 50/100
105/105 [==============================] - 0s 104us/step - loss: 1.0603 - acc: 0.6952
Epoch 51/100
105/105 [==============================] - 0s 76us/step - loss: 1.0591 - acc: 0.6952
Epoch 52/100
105/105 [==============================] - 0s 66us/step - loss: 1.0576 - acc: 0.6952
Epoch 53/100
105/105 [==============================] - 0s 66us/step - loss: 1.0559 - acc: 0.6952
Epoch 54/100
105/105 [==============================] - 0s 104us/step - loss: 1.0544 - acc: 0.6952
Epoch 55/100
105/105 [==============================] - 0s 76us/step - loss: 1.0535 - acc: 0.6952
Epoch 56/100
105/105 [==============================] - 0s 57us/step - loss: 1.0518 - acc: 0.6952
Epoch 57/100
105/105 [==============================] - 0s 66us/step - loss: 1.0507 - acc: 0.6952
Epoch 58/100
105/105 [==============================] - 0s 66us/step - loss: 1.0496 - acc: 0.6952
Epoch 59/100
105/105 [==============================] - 0s 95us/step - loss: 1.0474 - acc: 0.6952
Epoch 60/100
105/105 [==============================] - 0s 66us/step - loss: 1.0451 - acc: 0.6952
Epoch 61/100
105/105 [==============================] - 0s 66us/step - loss: 1.0433 - acc: 0.6952
Epoch 62/100
105/105 [==============================] - 0s 66us/step - loss: 1.0412 - acc: 0.6952
Epoch 63/100
105/105 [==============================] - 0s 86us/step - loss: 1.0393 - acc: 0.6952
Epoch 64/100
105/105 [==============================] - 0s 85us/step - loss: 1.0375 - acc: 0.6952
Epoch 65/100
105/105 [==============================] - 0s 66us/step - loss: 1.0350 - acc: 0.6952
Epoch 66/100
105/105 [==============================] - 0s 114us/step - loss: 1.0324 - acc: 0.6952
Epoch 67/100
105/105 [==============================] - 0s 85us/step - loss: 1.0304 - acc: 0.6952
Epoch 68/100
105/105 [==============================] - 0s 57us/step - loss: 1.0284 - acc: 0.6952
Epoch 69/100
105/105 [==============================] - 0s 66us/step - loss: 1.0263 - acc: 0.6952
Epoch 70/100
105/105 [==============================] - 0s 57us/step - loss: 1.0229 - acc: 0.6952
Epoch 71/100
105/105 [==============================] - 0s 66us/step - loss: 1.0203 - acc: 0.6952
Epoch 72/100
105/105 [==============================] - 0s 180us/step - loss: 1.0175 - acc: 0.6952
Epoch 73/100
105/105 [==============================] - 0s 104us/step - loss: 1.0145 - acc: 0.6952
Epoch 74/100
105/105 [==============================] - 0s 85us/step - loss: 1.0116 - acc: 0.6952
Epoch 75/100
105/105 [==============================] - 0s 76us/step - loss: 1.0089 - acc: 0.6952
Epoch 76/100
105/105 [==============================] - 0s 76us/step - loss: 1.0057 - acc: 0.6952
Epoch 77/100
105/105 [==============================] - 0s 104us/step - loss: 1.0036 - acc: 0.6952
Epoch 78/100
105/105 [==============================] - 0s 76us/step - loss: 0.9987 - acc: 0.6952
Epoch 79/100
105/105 [==============================] - 0s 76us/step - loss: 0.9952 - acc: 0.6952
Epoch 80/100
105/105 [==============================] - 0s 76us/step - loss: 0.9917 - acc: 0.6952
Epoch 81/100

105/105 [==============================] - 0s 67us/step - loss: 0.9876 - acc: 0.6952
Epoch 82/100
105/105 [==============================] - 0s 86us/step - loss: 0.9832 - acc: 0.6952
Epoch 83/100
105/105 [==============================] - 0s 95us/step - loss: 0.9791 - acc: 0.6952
Epoch 84/100
105/105 [==============================] - 0s 67us/step - loss: 0.9742 - acc: 0.6952
Epoch 85/100
105/105 [==============================] - 0s 76us/step - loss: 0.9687 - acc: 0.6952
Epoch 86/100
105/105 [==============================] - 0s 66us/step - loss: 0.9634 - acc: 0.6952
Epoch 87/100
105/105 [==============================] - 0s 85us/step - loss: 0.9581 - acc: 0.6952
Epoch 88/100
105/105 [==============================] - 0s 85us/step - loss: 0.9532 - acc: 0.6952
Epoch 89/100
105/105 [==============================] - 0s 76us/step - loss: 0.9472 - acc: 0.6952
Epoch 90/100
105/105 [==============================] - 0s 95us/step - loss: 0.9405 - acc: 0.6952
Epoch 91/100
105/105 [==============================] - 0s 114us/step - loss: 0.9344 - acc: 0.6952
Epoch 92/100
105/105 [==============================] - 0s 76us/step - loss: 0.9277 - acc: 0.6952
Epoch 93/100
105/105 [==============================] - 0s 76us/step - loss: 0.9213 - acc: 0.6952
Epoch 94/100
105/105 [==============================] - 0s 57us/step - loss: 0.9130 - acc: 0.6952
Epoch 95/100
105/105 [==============================] - 0s 76us/step - loss: 0.9055 - acc: 0.6952
Epoch 96/100
105/105 [==============================] - 0s 76us/step - loss: 0.8984 - acc: 0.6952
Epoch 97/100
105/105 [==============================] - 0s 76us/step - loss: 0.8887 - acc: 0.6952
Epoch 98/100
105/105 [==============================] - 0s 85us/step - loss: 0.8791 - acc: 0.6952
Epoch 99/100
105/105 [==============================] - 0s 95us/step - loss: 0.8699 - acc: 0.6952
Epoch 100/100
105/105 [==============================] - 0s 105us/step - loss: 0.8612 - acc: 0.6952

In [12]:
#model.fit(X_train, Y_train, validation_split=0.3, epochs=10, batch_size=1)

### Model Prediction

In [13]:
from sklearn import metrics

In [14]:
y_pred = model.predict(X_test)

y_test_class = np.argmax(Y_test,axis=1)
y_pred_class = np.argmax(y_pred,axis=1)

In [15]:
#y_predict=model.predict(X_test)
print(metrics.accuracy_score(y_test_class,y_pred_class))

0.6

In [16]:
#Accuracy of the predicted values
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test_class,y_pred_class))
print(confusion_matrix(y_test_class,y_pred_class))

             precision    recall  f1-score   support

          0       0.93      1.00      0.97        14
          1       0.00      0.00      0.00        18
          2       0.43      1.00      0.60        13

avg / total       0.42      0.60      0.48        45

[[14  0  0]
 [ 1  0 17]
 [ 0  0 13]]

### Save the Model

In [18]:
model.save('internal_tf_keras.h5')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?