In [63]:
import pandas as pd
import numpy as np
import os
from scipy import stats
from math import sqrt
from scipy.stats import t
from scipy.stats import norm

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [47]:
tic = pd.read_csv("Titan_Insurance_company.csv")
tic.head()
tic.describe()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

       SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
count    30.000000                  30.000000                  30.000000
mean     15.500000                  68.033333                  72.033333
std       8.803408                  20.455980                  24.062395
min       1.000000                  28.000000                  32.000000
25%       8.250000                  54.000000                  55.000000
50%      15.500000                  67.000000                  74.000000
75%      22.750000                  81.500000                  85.750000
max      30.000000                 110.000000                 122.000000

In [48]:
tic.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
SALESPERSON,30.0,15.500000,8.803408,1.0,8.25,15.5,22.75,30.0
Old Scheme (in thousands),30.0,68.033333,20.455980,28.0,54.00,67.0,81.50,110.0
New Scheme (in thousands),30.0,72.033333,24.062395,32.0,55.00,74.0,85.75,122.0

In [49]:
# 1) Find the mean of old scheme and new scheme column. (5 points)
print('Old Scheme Mean', tic['Old Scheme (in thousands)'].mean() * 1000)
print('New Scheme Mean', tic['New Scheme (in thousands)'].mean() * 1000)

Old Scheme Mean 68033.33333333333
New Scheme Mean 72033.33333333333

In [50]:
tic['Old Scheme (in thousands)'] = tic['Old Scheme (in thousands)'] * 1000
tic['New Scheme (in thousands)'] = tic['New Scheme (in thousands)'] * 1000

tic.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                      57000                      62000
1            2                     103000                     122000
2            3                      59000                      54000
3            4                      75000                      82000
4            5                      84000                      84000

In [52]:
# 2) Use the five percent significance test over the data to determine the p value to check new scheme has significantly 
# raised outputs? (8 points)

# Null Hypothesis : There is no significant difference between data sets

# Alternate Hypothesis : There is a significant difference
from scipy.stats import ttest_rel
two_sample = ttest_rel(tic['Old Scheme (in thousands)'], tic['New Scheme (in thousands)'])
two_sample

Ttest_relResult(statistic=-1.5559143823544377, pvalue=0.13057553961337662)

In [13]:
# 3) What conclusion does the test (p-value) lead to? (2 points)

# pvalue is greater than alpha (0.05). Accept null hypothesis. So there is a significant differences by implementing 
# the new scheme

In [ ]:
# 4) Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme
# compared to the old scheme. If this figure is alternative hypothesis, what is:

In [ ]:
# 4 a) The probability of a type 1 error?
# # Answer : Probability of Type I error = significant level = 0.05 or 5%

In [53]:
# 4 b) What is the p- value of the hypothesis test if we test for a difference of $5000?
tic["CompareSales"] = tic["New Scheme (in thousands)"] - tic["Old Scheme (in thousands)"]
tic.head()

,SALESPERSON,Old Scheme (in thousands),New Scheme (in thousands),CompareSales
0,1,57000,62000,5000
1,2,103000,122000,19000
2,3,59000,54000,-5000
3,4,75000,82000,7000
4,5,84000,84000,0

In [54]:
comparesales_mean = tic["CompareSales"].mean()
comparesales_mean

4000.0

In [55]:
comparesales_std = tic["CompareSales"].std()
comparesales_std

14081.046199376151

In [56]:
comparesales_se = comparesales_std/sqrt(30) # sample size is 30
comparesales_se

2570.8355455569017

In [57]:
tstat = (comparesales_mean - 5000)/comparesales_se
tstat

-0.38897859558860937

In [58]:
p_value = 1- stats.t.cdf(tstat, df=29) # df = n-1 = 30-1 = 29
p_value # p-value of avg diff more than 5000

0.6499332543693357

In [ ]:
# 4 C) Power of a test 
## Power = 1 - Type II Error

In [ ]:
# since P value = 0.6499, and degree of freedom df = 29

In [62]:
# finding t critical value using student t test
# define probability
p = 0.6499
df = 29
# retrieve value <= probability
value = t.ppf(p, df)
print(value)
t_value = t.cdf(value, df)
print(t_value)

0.3888876925908805
0.6498999996651291

In [64]:
# finding t critical value using Gaussian 
# define probability
p = 0.6499
# retrieve value <= probability
value = norm.ppf(p)
print(value)
# confirm with cdf
t_value = norm.cdf(value)
print(t_value)

0.38505050131866764
0.6499

In [66]:
t_critical = t.ppf(1-0.05, 29)
t_critical

1.6991270265334972

In [67]:
#finding xbar value
mu0 = 0
xbar = mu0 + t_critical * comparesales_se
xbar

4368.176156228719

In [68]:
t_stat = ( xbar - 5000 ) / comparesales_se
t_stat

-0.2457659514095497

In [70]:
stats.t.cdf(t_stat, df=29)

0.40379725247943166

In [ ]:
# The power of test value 0.40379725247943166